CaseStudy2DataFac/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CaseStudy2DataFac"
		},
		"AzureBlobStorage0510_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage0510'"
		},
		"AzureBlobStorage511_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage511'"
		},
		"AzureDataLakeStoragetoCopy_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStoragetoCopy'"
		},
		"AzureDatabricksLinkedService_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksLinkedService'"
		},
		"AzureDatabricksLinkedServiceFinal_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksLinkedServiceFinal'"
		},
		"AzureDatabricksAllFinal_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksAllFinal'"
		},
		"AzureDataLakeStoragetoCopy_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://casestudy2storageacc.dfs.core.windows.net/"
		},
		"AzureDatabricksLinkedService_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1005-054616-qjjw95fn"
		},
		"GitData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/manojkumarsingh77/Shell2023/main/EVCarbonEmission/DataSets/"
		},
		"AzureDatabricksLinkedServiceFinal_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1005-054616-qjjw95fn"
		},
		"AzureDatabricksAllFinal_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1005-054616-qjjw95fn"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_3nk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Class",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Class",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Engine Size(L)",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Engine Size(L)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cylinders",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cylinders",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Consumption City (L/100 km)",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Consumption City (L/100 km)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Consumption Hwy (L/100 km)",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Consumption Hwy (L/100 km)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Consumption Comb (L/100 km)",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Consumption Comb (L/100 km)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Consumption Comb (mpg)",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Consumption Comb (mpg)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CO2 Emissions(g/km)\r",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "CO2 Emissions(g/km)\r",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "copydelimited",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "copysinkdelimited",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shellunext_1693422065148@npunext.onmicrosoft.com/Databricks"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksAllFinal",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/copydelimited')]",
				"[concat(variables('factoryId'), '/datasets/copysinkdelimited')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksAllFinal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copydelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GitData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "CO2%20Emissions_Canada.csv"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Make",
						"type": "String"
					},
					{
						"name": "Model",
						"type": "String"
					},
					{
						"name": "Vehicle Class",
						"type": "String"
					},
					{
						"name": "Engine Size(L)",
						"type": "String"
					},
					{
						"name": "Cylinders",
						"type": "String"
					},
					{
						"name": "Transmission",
						"type": "String"
					},
					{
						"name": "Fuel Type",
						"type": "String"
					},
					{
						"name": "Fuel Consumption City (L/100 km)",
						"type": "String"
					},
					{
						"name": "Fuel Consumption Hwy (L/100 km)",
						"type": "String"
					},
					{
						"name": "Fuel Consumption Comb (L/100 km)",
						"type": "String"
					},
					{
						"name": "Fuel Consumption Comb (mpg)",
						"type": "String"
					},
					{
						"name": "CO2 Emissions(g/km)\r",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GitData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copysinkdelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragetoCopy",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "PARENT/RAW",
						"fileSystem": "blobstorage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragetoCopy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage0510')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage0510_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage511')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage511_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoragetoCopy')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStoragetoCopy_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStoragetoCopy_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8293531287260884.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksLinkedService_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksLinkedService_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('GitData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerforcopy')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_3nk",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-10-05T04:08:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_3nk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksLinkedServiceFinal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8293531287260884.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksLinkedServiceFinal_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksLinkedServiceFinal_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksAllFinal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8293531287260884.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksAllFinal_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksAllFinal_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		}
	]
}